<!-- modal_changelog -->
<div class="modal modal" id="modal_changelog">
    <a class="modal-overlay close" aria-label="Close"></a>
    <div class="modal-container p-2">
        <div class="modal-header">
            <!-- <a class="btn btn-clear float-right close" aria-label="Close"></a> -->
            <h3 class="modal-title m-0">{{ domain }} <small class="label">{{ version }}</small></h3>
        </div>
        <form class="form-horizontal" method="post" name="form_change_password" enctype="multipart/form-data">
            <div class="modal-body pt-0 pb-0">
                <div class="content">
                    <div class="tile">
                        <div class="tile-content">
                            <p class="tile-title m-0 font-weight-bold">December 2018</p>
                            <ul>
                                <li class="tile-subtitle">Changed name and domain (Doolio.co to LetsLearn.io)</li>
                                <li class="tile-subtitle">Complete rewrite of codebase (PHP to Python)</li>
                                <li class="tile-subtitle">
                                    <a href="/explore" class="font-weight-bold">Pathways</a>
                                    Create a sequential list with learning resources to make it easier for self-learners to find and learn new skills
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- TBA -->
                    <div class="tile">
                        <div class="tile-content">
                            <p class="tile-title m-0 font-weight-bold">TBA 2019</p>
                            <ul>
                                <li class="tile-subtitle">Sponsored pathways</li>
                                <li class="tile-subtitle">Collaborate with others to maintain pathways (multiple pathway owners)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary close">Close</a>
                <a href="mailto:support@letslearn.io" class="btn btn-primary">Contact</a>
            </div>
        </form>
    </div>
</div>