<!-- modal_edit_pathway -->
<div id="modal_edit_pathway" class="modal">
    <a class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container p-2">
        <div class="modal-header">
            <!-- <a class="btn btn-clear float-right close" aria-label="Close"></a> -->
            <h3 class="modal-title m-0">Edit pathway</h3>
        </div>
        <div class="modal-body p-0 pb-4">
            <div class="container">
            {% if email %}
            <!-- form_edit_pathway -->
                <form method="post" name="form_edit_pathway" enctype="multipart/form-data">
                    <input name="edit_pathway_id" value="" hidden>
                    <div class="columns">
                        <div class="column col-12 col-md-12">
                            <!-- edit_pathway_name -->
                            <label class="form-label" for="edit_pathway_name">Edit name (this feature is not available yet)</label>
                            <div class="has-icon-right">
                                <input id="edit_pathway_name" class="form-input mb-2" type="text" name="edit_pathway_name" placeholder="Beginner Java development" disabled>
                                <i id="edit_pathway_name_icon" class="form-icon"></i>
                            </div>
                        </div>
                        <div class="column col-12 col-md-12">
                            <div class="columns">
                                <div class="column col-12 col-md-12">
                                    <label class="form-label font-weight-bold">Resources</label>
                                    <div id="resource_wrapper" class="columns"></div>
                                </div>
                            </div>
                        </div>

                        <div class="column col-12 col-md-12">
                            <div class="columns">
                                <div class="column col-12 col-md-12">
                                    <label class="form-label">Add resource</label>
                                </div>
                                <!-- add_resource -->
                                <div class="column col-12 col-md-12">
                                    <!-- add_resource_name -->
                                    <input class="form-input mb-2" type="text" name="add_resource_name" placeholder="Java MOOC by Michael Sjoeberg">
                                </div>
                                <div class="column col-8 col-md-6">
                                    <!-- add_resource_link -->
                                    <input class="form-input mb-2" type="url" name="add_resource_link" placeholder="https://awesomeresource.com">
                                </div>
                                <div class="column col-4 col-md-6">
                                    <!-- add_resource_type -->
                                    <select class="form-select mb-2" name="add_resource_type">
                                        <option value=1>Textbook</option>
                                        <option value=2>MOOC</option>
                                        <option value=3>Website</option>
                                        <option value=4>Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            {% endif %}
            </div>
        </div>
        <div class="modal-footer">
            {% if email %}
            <button class="btn btn-primary float-left" name="button_delete_pathway_submit" type="submit">Delete</button>
            {% endif %}
            <a class="btn btn-secondary close" aria-label="Close">Close</a>
            {% if email %}
            <button class="btn btn-primary" name="button_add_resource_submit" type="submit">Add resource</button>
            {% endif %}
        </div>
    </div>
</div>