<!-- modal_reset_password -->
<div class="modal modal-sm" id="modal_reset_password">
    <a class="modal-overlay close" aria-label="Close"></a>
    <div class="modal-container p-2">
        <div class="modal-header">
            <!-- <a class="btn btn-clear float-right close" aria-label="Close"></a> -->
            <h3 class="modal-title m-0">Reset password</h3>
        </div>
        <form class="form-horizontal p-0" method="post" enctype="multipart/form-data">
            <div class="modal-body pt-0">
                <div class="content">
                    <!-- reset_password_email-->
                    <label class="form-label" for="reset_password_email">Email</label>
                    <input class="form-input" type="email" name="reset_password_email" placeholder="my@email.com">
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary close">Close</a>
                <button class="btn btn-primary" name="reset_password_submit" type="submit">Reset password</button>
            </div>
        </form>
    </div>
</div>