{% include 'head.html' %}

<div id="content" class="">

<section>
	<div class="container-fluid p-5">
        <div class="row text-center justify-content-center">
            <div class="col-12 col-md-8">
                <h1 class="h1 font-weight-base">Page not found</h1>
                <p class="m-0">Don't worry! We are probably working on this – or playing games.</p>
                <a href="/" class="btn btn-secondary btn-raised btn-block mt-5"><i class="fas fa-undo"></i> Go back</a>
            </div>
        </div>
	</div>
</section>

</div><!-- ./content -->

{% include 'footer.html' %}