<div class="container hero hero-sm">
    <div class="columns hero-body">
        <div class="column text-center">
                <a id="button_changelog" class="font-weight-bold" style="text-decoration:none;">{{ domain }}</a> is made by
                <div class="chip">
                    <a href="https://www.michaelsjoeberg.com" target="_blank" class="font-weight-bold" style="text-decoration:none;">Michael Sjöberg</a>
                    <a href="https://twitter.com/sjoebergco" target="_blank" class="ml-1" style="text-decoration:none;"><i class="fab fa-twitter"></i></a>
                    <a href="https://angel.co/michaelsjoeberg" target="_blank" class="ml-1" style="text-decoration:none;"><i class="fab fa-angellist"></i></a>
                    <a href="https://github.com/michaelsjoeberg" target="_blank" class="ml-1" style="text-decoration:none;"><i class="fab fa-github"></i></a>
                    <a href="https://www.producthunt.com/@sjoebergco" target="_blank" class="ml-1" style="text-decoration:none;"><i class="fab fa-product-hunt"></i></a>
                </div>
                | A skill tracker with user-curated pathways to make life easier for self-learners.
        </div>
    </div>
</div>