<div class="container hero hero-sm bg-white-smoke">
    <div class="columns hero-body">
        <div class="column col-10 col-sm-12 col-mx-auto">
            <div class="columns">
                <div class="column col-6 col-md-12">
                    <h1>Keep this website running</h1>
                    <p class="">There are no paid features and registration is free forever, current costs are mainly AWS hosting fees (about <code>€ 35.00</code> per month).</p>
                </div>
                <div class="column col-6 col-md-12">
                    <h5>One-time donations</h5>
                    <button data-type="once" data-sku="sku_ELyKO6U9l3dTtb" class="btn btn-secondary btn-lg checkout-button" style="margin-right:0.250rem;margin-bottom:0.250rem;"><i class="fab fa-cc-stripe mr-1"></i> € 5.00</button>
                    <button data-type="once" data-sku="sku_ELyKPGg4M09I1j" class="btn btn-secondary btn-lg checkout-button" style="margin-right:0.250rem;margin-bottom:0.250rem;"><i class="fab fa-cc-stripe mr-1"></i> € 10.00</button>
                    <a href="https://paypal.me/michaelsjoeberg?locale.x=en_US" target="_blank" class="btn btn-secondary btn-lg" style="margin-right:0.250rem;margin-bottom:0.250rem;"><i class="fab fa-cc-paypal mr-1"></i> Pay-what-you-want</a>
                    <h5 class="mt-2">Recurring donations</h5>
                    <button data-type="plan" data-sku="plan_ELz4wmCu54ioRP" class="btn btn-secondary btn-lg checkout-button" style="margin-right:0.250rem;margin-bottom:0.250rem;"><i class="fab fa-cc-stripe mr-1"></i> € 5.00 / month</button>
                    <button data-type="plan" data-sku="plan_ELz4FFgKFaXnWh" class="btn btn-secondary btn-lg checkout-button" style="margin-right:0.250rem;margin-bottom:0.250rem;"><i class="fab fa-cc-stripe mr-1"></i> € 10.00 / month</button>

                    <div id="error-message"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container hero hero-sm">
    <div class="columns hero-body">
        <div class="column text-center">
                <a id="button_changelog" class="font-weight-bold" style="text-decoration:none;">{{ domain }}</a> is made by
                <div class="chip">
                    <a href="https://www.michaelsjoeberg.com" target="_blank" class="font-weight-bold" style="text-decoration:none;">Michael Sjöberg</a>
                    <a href="https://twitter.com/sjoebergco" target="_blank" class="ml-1" style="text-decoration:none;"><i class="fab fa-twitter"></i></a>
                    <a href="https://angel.co/michaelsjoeberg" target="_blank" class="ml-1" style="text-decoration:none;"><i class="fab fa-angellist"></i></a>
                    <a href="https://github.com/michaelsjoeberg" target="_blank" class="ml-1" style="text-decoration:none;"><i class="fab fa-github"></i></a>
                    <a href="https://www.producthunt.com/@sjoebergco" target="_blank" class="ml-1" style="text-decoration:none;"><i class="fab fa-product-hunt"></i></a>
                </div>
                | A skill tracker with user-curated learning pathways.
        </div>
    </div>
</div>

<span style="position:fixed;bottom:0.825rem;right:1.125rem;z-index:4000;">
    <a href="https://twitter.com/intent/tweet?screen_name=sjoebergco&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-text="Hi! I think that LearnHub.io ... (be nice!)" data-related="sjoebergco" data-lang="en" data-show-count="false">Tweet to @sjoebergco</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</span>